@page
@model HospiEnCasa.App.Frontend.Pages.Pacientes.IndexModel
@{
}

<h1>Listado de Pacientes</h1>
<a class="btn btn-primary" asp-page=".\Create">Nuevo Paciente</a>
<table class="table">
    <thead class="table table-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model.pacientes)
        {
            <tr>
                <td>@paciente.Nombre</td>
                <td>@paciente.Apellidos</td>
                <td>@paciente.NumeroTelefono</td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page = "./Details" asp-route-id="@paciente.Id">
                    <i class="fas fa-info-circle fa-lg"></i> Detalles</a>
                        
                    <a class="btn btn-secondary table-btn" asp-page = "./Edit" asp-route-id="@paciente.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i> Modificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
